    body {
        font-family:  Verdana, Geneva, Tahoma, sans-serif;
        padding: 20px; 
        background-color: rgb(231, 230, 229);
      }

    input, select, button {
       padding: 5px;
        margin: 5px; 
        border-radius: 2px;
        
      }

    table {
      position: absolute;
       width: 100%;
        border-collapse:collapse; 
         margin-top: 10px; 
         top: 300px;
        }

    th, td {
       border: 1px solid #ccc;
        padding: 5px;
         text-align: center;
         }

    .income { 
      color: green;
     }

    .expense { 
      color: red;
     }
.main{
  position: absolute;
  justify-content: center;
align-items: center;
left: 450px;
width: 600px;

}

h3 {
  position: absolute;
  top: 250px;
  left: 40%;
}

h2{
  align-items: center;
}

.add-data{
   padding: 5px;
        margin: 5px; 
        border-radius: 5px;
        width: 470px;
        height: 50px;
}
